@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?6mzh01');
    src:    url('../fonts/icomoon.eot?6mzh01#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?6mzh01') format('truetype'),
        url('../fonts/icomoon.woff?6mzh01') format('woff'),
        url('../fonts/icomoon.svg?6mzh01#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
}
.icon-pen:before {
    content: "\e901";
}
.icon-paint-format:before {
    content: "\e903";
}
.icon-images:before {
    content: "\e906";
}
.icon-camera:before {
    content: "\e90d";
}
.icon-file-text:before {
    content: "\e90f";
}
.icon-phone:before {
    content: "\e902";
}
.icon-address-book:before {
    content: "\e912";
}
.icon-envelop:before {
    content: "\e904";
}
.icon-location:before {
    content: "\e916";
}
.icon-location2:before {
    content: "\e905";
}
.icon-map:before {
    content: "\e911";
}
.icon-clock:before {
    content: "\e917";
}
.icon-mobile:before {
    content: "\e918";
}
.icon-bubbles2:before {
    content: "\e907";
}
.icon-user:before {
    content: "\e908";
}
.icon-zoom-in:before {
    content: "\e909";
}
.icon-hammer:before {
    content: "\e919";
}
.icon-menu:before {
    content: "\e90a";
}
.icon-sphere:before {
    content: "\e90b";
}
.icon-link:before {
    content: "\e90c";
}
.icon-mail4:before {
    content: "\e90e";
}
.icon-google-plus2:before {
    content: "\e910";
}
.icon-facebook2:before {
    content: "\e913";
}
.icon-whatsapp:before {
    content: "\e914";
}
.icon-twitter:before {
    content: "\e915";
}

body
{
    background: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.Header
{
    text-align: left;
    height:100px;
    background: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #d3d3d3;
}
.Header-main
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.Header-left
{
    padding-top:5px;
    margin-left: 18%;
}
.Header-img
{
    display: inline-block;
    width: 205px;
    vertical-align: middle;
}
.Header-title
{
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    display: inline-block;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 0 .5rem;
    margin-top: 3.5rem;
    color:#000000;
}
.Header-titleMobile
{
    display: none;
}
.Header-right
{
    display: flex;
    margin-right: 1rem;
}
.Header-rightPhone
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Header-rightPhone h2
{
    margin: 0;
    padding: 0;
    color:#1fc8db;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-size: 1.3rem;
    font-weight:400;
    line-height:1.3rem;
}
.Header-rightPhone h3
{
    margin: 0;
    padding: .3rem 1rem;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    font-weight:400;
    color:#818181;
    line-height:1.3rem;
}
.Header-rightPhone span
{
    color:#1fc8db;
    padding-right: .5rem;
}
.Header-rightSocial
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.Header-rightSocial a
{
    transition: color .2s;
    text-decoration: none;
    color:gray;
    outline: 0;
}
.Header-rightSocial span
{
    font-size: 1.2rem;
    line-height: 1.5rem;;
    padding: 0 .5rem;
}
.Header-rightSocial a:nth-child(1):hover{color: #2cc917}
.Header-rightSocial a:nth-child(2):hover{color: #618acb}
.Header-rightSocial a:nth-child(3):hover{color: #1fc8db}

.MainMenu
{
    transition: all .2s;
}
.MainMenu--sticky
{
    z-index: 20;
    position: fixed;
    width: 100%;
    top:0;
    opacity: 0.9;
}
.MainMenu-list
{
    display: flex;
    padding: 0;
    margin: 0;
    background: #5c5c5c;
    list-style: none;
}
.MainMenu-item
{
    flex: auto;
    text-align: center;
    border-right: 1px solid #6d6d6d;
}
.MainMenu-item:last-child{
    border-right: none;
}
.MainMenu-link
{
    transition: all .2s;
    display: block;
    line-height: 40px;
    color:#ebebeb;
    text-decoration: none;
    font-weight: 300;
	outline: 0;
    border-bottom: 3px solid #989898;
}
.MainMenu-link:hover, .MainMenu-selected
{
    color:white;
    background:#6f6f6f;
    border-bottom: 3px solid #3be6e6;
}
.MainMenu-link span
{
    padding-right:10px;
    color:#cbcbcb;
    transition: color .2s;
}
.MainMenu-link:hover > span
{
    color: #3be6e6;
}

.MainContent
{
    flex: 1;
    background: #343434;/*#fafafa*/
    background: url(../img/pattern/back.png);
}

/*INDEX*/
.MainSlider
{
    position: relative;
    overflow: hidden;
}
.MainSlider:hover > .MainSlider-legend
{
    top:0;
}
.MainSlider-legend
{
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    z-index: 10;
    transition: top .8s;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,.2);
    color:white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:100%;
}
.MainSlider-legend span
{
    color:#00ffe2;
    margin-left: 1rem;
}

.about-section, .proposal-section
{
    /*background: #363636;
    background: url(../img/pattern/p2.png);*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-article, .proposal-article
{
    margin: 4rem 0;
    width: 80%;
}
.about-article h3, .proposal-article h3
{
    margin: 0;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.6;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;  
    color:#1fc8db;
}
.about-article p, .proposal-article p
{
    margin: 0;
    padding: .5rem 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 300; 
    font-size: 1.3rem;
    color:#d3d3d3;
}
.services-section
{
    font-size: 0;
    width: 100%;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.services-article
{
    width: 25%;
    position: relative;
    transition: opacity .3s;
}
.services-article a
{
    text-decoration: none;
    outline: 0;
}
.services-article:hover
{
    opacity: .8;
}
.services-article img
{
     width: 100%;
     display: block;
}
.services-article figcaption
{
    font-size: 1rem;
    color:#ffffff;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    text-align: center;
    left:0;
    right: 0;
    bottom:10%;
    padding: .5rem 0;
    background: rgba(0, 0, 0, 0.2);
}

.elements-section
{
    /*background: #363636;
    background: url(../img/pattern/p2.png);*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.elements-article
{
    margin: 3rem 1rem;
    width: 200px;
    display: flex;
    justify-content: center;
}
.elements-article img
{
    width: 190px;
    height: 120px;
    box-shadow: 0 0 0 3px #1fc8db,/*12e896*/
                0 20px 20px -12px #000;
}
.elements-article figcaption
{
    margin-top: 1rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color:#ffffff;
}

.proposal-section
{
    background: #ffffff;
}

.proposal-article p
{
    color: #5d5d5d;
    font-weight: 400;
    font-size: 1.2rem;
}
/*END-INDEX*/

/*SERVICIOS*/
.PageHeader
{
    background: url(../img/main-slider/55.jpg);
    height: 220px;
    transition: all .8s;
    background-position: top;
    background-size: cover;
}
/*.PageHeader:hover
{
    background-position: center;
}*/
.PageHeader-title
{
    z-index: 2;
    margin:0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;

}
.PageHeader-title span
{
    color:#ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    border-bottom: 1px solid aqua;
}

.serviceDetail-section, .gallery-section
{
    width: 1140px;
    margin: 0 auto;
}
.serviceDetail-article
{
    font-size: 0;
    height: 400px;
    margin: 4rem 0;
    background: #434343;
    /*overflow: hidden;*/
}
.serviceDetail-image
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 600px;
    height: 400px;
    vertical-align: top;
    overflow: hidden;
}
.serviceDetail-image img
{
    width: 600px;
    height: 400px;
    transition: all .9s;
}
/*
.serviceDetail-image img:hover
{
    width: 700px;
    height: 500px;
}*/
.serviceDetail-article:hover .serviceDetail-image img
{
    width: 700px;
    height: 500px; 
}
.serviceDetail-description
{
    vertical-align: top;
    box-sizing: border-box;
    width:540px;
    height: 400px;
    display: inline-block;
}
.serviceDetail-description h2
{
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-shadow: -1px 1px 1px #747474;
    color:white;
    margin: 0;
    text-align: center;
    line-height: 2.5;
    width: 540px;
}
.serviceDetail-article:nth-child(1) h2, .gallery-article:nth-child(1) h2
{
    background: rgba(31, 200, 219, 0.85);
}
.serviceDetail-article:nth-child(2) h2, .gallery-article:nth-child(2) h2
{
    background: #1fdba8;
}
.serviceDetail-article:nth-child(3) h2, .gallery-article:nth-child(3) h2
{
    background: rgb(255, 121, 121);
}
.serviceDetail-article:nth-child(4) h2, .gallery-article:nth-child(4) h2
{
    background: #adadad;
}
.serviceDetail-description p
{
    font-size: 1rem;
    color:#dbdbdb;
    font-weight: 400;
    text-align: justify;
    padding: 1rem;
}
/*END SERVICIOS*/

/*GALERIA*/
.gallery-article
{
    background: #434343;
    margin:4rem 0;
}
.gallery-article h2
{
    margin:0;
    line-height: 1.7;
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    text-shadow: -1px 1px 1px #747474;
}
.gallery-articleBody
{
    padding: 1rem 1.5rem;
}
.gallery-item
{
    display: inline-block;
    margin:2px;
}
.gallery-item a
{
    text-decoration: none;
    outline:0;
}
.gallery-item img
{
    display: block;
    border-radius: 5px;
    height: 180px;
}
/*END GALERIA*/

.MainFooter
{
    width: 100%;
    text-align: center;
    background: #363535;
    background: url(../img/pattern/p2.png);
}
.MainFooter-body
{
    margin:1rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.MainFooter-item
{
    margin: 0 1rem;
    width: 350px;
    height: auto;
}
.MainFooter-item h3, .MainFooter-item h4, .MainFooter-item h5
{
    margin:0;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color:#eaeaea;
}
.MainFooter-item h3
{
    color:#1fc8db;
    font-weight: 500;
    border-bottom: 2px solid #b2b2b2;
}
.MainFooter-item h4
{
    font-weight: 400;
}
.MainFooter-item h5
{
    font-weight: 300;
}
.MainFooter-map
{
    margin-top: .5rem;
    display: inline-block;
    border-radius: 10px;
    border:2px solid #1fc8db;
}
.MainFooter-contact
{
    margin: 0;
    padding: 1rem 2rem;
    list-style: none;
    text-align: left;
}
.MainFooter-contact li
{
    color:#00e5ff;
    padding: .3rem 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.MainFooter-contact li:nth-child(even)
{
    color:#ffffff;
    padding-left: 2.5rem;
    font-weight: 300;
}
.MainFooter-contact li span
{
    padding-right:.5rem;
    color:#1fc8db;
}

.MainFooter-social
{
    padding: 1.5rem 0 1rem 0;
    margin: 0;
    list-style: none;
}
.MainFooter-social li
{
    display: inline-block;
}
.MainFooter-social li a
{
    transition: color .3s;
    text-decoration: none;
    color:#c3c3c3;
    font-size: 1.5rem;
    padding: 0 .5rem;
    outline: 0;
}
.MainFooter-social li a:hover
{
    color:aqua;
}
.MainFooter-item .Footer-logo
{
    width: 45%;
    opacity: .5;
}
.MainFooter-copyright
{
    font-size: .9rem;
    background: black;
    margin:0;
    font-weight: lighter;
    color:gray;
}
.MainFooter-copyright a
{
    color: rgb(102, 175, 151);
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    outline: 0;
}
.MainFooter-copyright a:hover
{
    color: aqua;
}

/*
.MainContent-article
{
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    background: #ffffff;
}
.MainContent-legend
{
    z-index: 2;
    text-align: center;
    color:#1fc8db;
    text-shadow: 0 1px 1px #000000;
    font-size: 2rem;
    position: absolute;
    top:0;
	left:0;
	right:0;
    margin-left: auto;
	margin-right: auto;
	width:400px;

}
.MainContent-image
{
    margin: 3rem 0;
    box-shadow: 0 0 0 10px #fff,
                0 0 0 11px #ccc,
                0 20px 20px -12px #000;
    overflow: hidden;
    width: 600px;
    height: 400px;
    background: url(http://lorempixel.com/600/400);
}
.MainContent-image:hover > p
{
    left:0;
}
.MainContent-image > p
{
    z-index: 2;
    transition: all .3s;
    margin:0;
    padding: 0 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,.7);
    color:#e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    left:-100%;
}
*/
#toggle-menu
{
    display: none;
}

@media screen and (max-width:1175px)
{
    .elements-article
    {
        margin:1rem .5rem;
    }
    .MainFooter-item:nth-child(1)
    {
       height: 220px;
    }
    .MainFooter-item:nth-child(3)
    {
        height: 165px;
    }
}

@media screen and (max-width:1162px)
{
    .MainFooter-item
    {
        margin:1rem;
        width: 300px;
        height: 270px;
    }
}
@media screen and (max-width:800px) 
{
    .Header-left
    {
        margin-left: 3%;
    }
    .MainSlider-legend
    {
        font-size: 1.8rem;
    }
    .services-section
    {
        background: #ffffff;
    }
    .services-article
    {
        width: 250px;
        margin:1rem;
        box-shadow: 0 0 0 3px #1fc8db,
                    0 20px 20px -12px #000
    }
    .about-article, .proposal-article
    {
        margin: 1.5rem 0;
    }
    .about-article h3, .proposal-article h3
    {
        font-size: 2rem;
        line-height: 1.4;
    }
    .about-article p, .proposal-article p
    {
        font-size: 1.1rem;
    }
    .proposal-article p
    {
        color: #464646;
        font-weight: 300;
        font-size: 1.1rem;
    }
}
@media screen and (max-width:768px) 
{
    .MainMenu-list
    {
        display: none;
    }
    .MainMenu-item
    {
        text-align: inherit;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .MainMenu-item:last-child{
        border: none;
    }
    .MainMenu-link
    {
        padding-left: 1rem;
    }
    #toggle-menu
    {
        display: block;
        background: #818181;
        color:#ffffff;
        padding-left: 1rem;
        font-size: 1.3rem;
        line-height: 1.3rem;
        font-weight: 300;
        cursor: pointer;
    }
    #toggle-menu span
    {
        padding-right: .5rem;
        line-height: 2;
        color:#ffffff;
        font-size: 1.5rem;
        font-weight: 300;
    }
}
@media screen and (max-width:668px) 
{
    .Header
    {
        height: auto;
        background: #393939;
    }
    .Header-main
    {
        height: auto;
    }
    .Header-img
    {
        display: none;
    }
    .Header-title
    {
        display: none;
    }
    .Header-left
    {
        padding-top:0px;
    }
    .Header-titleMobile
    {
        display: block;
        margin:0;
        padding: 0;
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 1.3rem;
        color:#1fc8db;
        text-shadow: -1px 1px 2px #505050;
    }
    .Header-left
    {
        display: flex;
        align-items: center
    }
    .Header-right
    {
        margin:.5rem 0;
    }
    .Header-rightPhone h2
    {
        font-size: 1rem;
        line-height:1rem;
    }
    .Header-rightPhone h3
    {
        font-size: 1rem;
        line-height:1rem;
    }
    .Header-rightSocial
    {
        flex-direction: row;
    }
    .MainSlider-legend
    {
        display: none;
    }
}
@media screen and (max-width:468px) 
{  
    .Header-rightSocial
    {
        display: none;
    }
    .MainSlider
    {
        display: none;
    }
    .MainMenu-list
    {
        position: absolute;
        width: 100%;
    }
}
.u-colors
{
    display: flex;
    width: 100%;
    height: 5px;
    background: white;
}
.color-item
{
    flex:auto;
}
.color-item:nth-child(1)
{
    background: #1f99db;/*b8e85e*/
}
.color-item:nth-child(2)
{
    background: #1fc8db;/*5ee8bc*/
}
.color-item:nth-child(3)
{
    background: #1fdb90;/*1fdb90*/
}
.color-item:nth-child(4)
{
    background: #5ee8bc;/*1fc8db*/
}
.color-item:nth-child(5)
{
    background: #b8e85e;/*1f99db*/
}

/*! http://responsiveslides.com v1.54 by @viljamis */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  max-height: 500px;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }